*/node_modules/*
*/node_modules/
javascript/node_modules/*
javascript/node_modules/
butt2/node_modules/*
butt2/node_modules/
butt2-old/node_modules/*
butt2-old/node_modules/
.idea/*
.idea/
public/.sass-cache/*
public/.sass-cache/
fresh1/public/.sass-cache/