@import "compass/css3";
@import "compass/reset";
@import "mixin";
@import "font-awesome";

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 20px auto 0;
}

/* blockItem */
.blockItem {
    margin-top: 40px;

    &:first-of-type { margin-top: 0; }
}

/* menu */
.menu {
    position: relative;
    background: #000000;
    @include box-sizing(border-box);
    text-align: center;
}
    .menu_bg_red { background: red; }
    .menu_bg_green { background: green; }

.menu__item {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &:hover {
        & > .menu__subMenu {
            visibility: visible;
            @include opacity(1);
        }
    }
}

.menu__link {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    @include transition(all 0.5s ease);

    &:hover {
        color: #000;
        background: #fff;
    }
}

    .menu__link_size_14 { font-size: 14px; }

.menu__subMenu {
    visibility: hidden;
    @include opacity(0);
    position: absolute;
    top: 100%;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 10;
    white-space: nowrap;
    font-size: 0;
    background: #000000;
    @include transition(all 0.5s ease);
}
    .menu__subMenu_red { background: red; }
    .menu__subMenu_green { background: green; }