html {
	height: 100%;
}
body {
	margin:0;
	color:black;
	font: 50px/70px Georgia, Times New Roman, Times, serif;
	background:#fff;
	height: 100%;
}
img {
	border-style:none;
}
a {
	color:black;
	outline:none;
	font-style: italic;
}
a:hover {
	text-decoration:none;
}
* {
	outline:none;
}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
	display: block;
}
#wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  background: white;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
section.slide6 {
    -webkit-flex-direction: row;
    flex-direction: row; }
  section img {
    max-height: 100%;
    max-width: 100%; }
	 section table, section tbody, section tr, section td {
    height: 100%;
    width: 100%; }
  section .slide-title {
    font-size: 16px; }
  section.active {
    z-index: 10; }
    section.active .old:after {
      width: 100%; }
    section.active .new {
      opacity: 1;
      -webkit-animation-delay: 850ms;
      /* Chrome, Safari, Opera */
      animation-delay: 850ms;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
      transform-origin: top center;
      -webkit-animation-name: swing;
      animation-name: swing; }
#timerSeconds {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 200;
	font-size: 25px;
	line-height: 25px;
	text-shadow: #fff 1px 0px, #fff 1px 1px, #fff 0px 1px, #fff -1px 1px, #fff -1px 0px, #fff -1px -1px, #fff 0px -1px, #fff 1px -1px;
}
.slide5,
.slide1 {
	top: 0;
	left: 100%;
}
.slide6,
.slide2 {
	top: 100%;
	left: 0;
}
.slide3 {
	top: 0;
	right: 100%;
}
.slide4 {
	bottom: 100%;
	right: 0;
}
.slide5.active,
.slide1.active {
	left: 0;
}
.slide6.active,
.slide2.active {
	top: 0;
}
.slide3.active {
	right: 0;
}
.slide4.active {
	bottom: 0;
}
.info {
	position: absolute;
	/*padding: 20px;
	background: rgba(255, 255, 255, 0.5);*/
}
.info span {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-shadow: #fff 1px 0px, #fff 1px 1px, #fff 0px 1px, #fff -1px 1px, #fff -1px 0px, #fff -1px -1px, #fff 0px -1px, #fff 1px -1px;
}

.slide1 .info {
	bottom: 25%;
	left: 100px;
}
.slide2 .info {
	top: 80%;
	left: 100px;
	
}
.slide3 .info {
	top: 100px;
	right: 100px;
}
.slide4 .info {
	bottom: 100px;
	right: 100px;
}
.slide5 .info {
	bottom: 100px;
	left: 100px;
}
section.active {
	z-index: 10;
}
.slide6 .info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	box-sizing: border-box;
	font-size: 38px;
	line-height: 48px;
	text-shadow: #fff 1px 0px, #fff 1px 1px, #fff 0px 1px, #fff -1px 1px, #fff -1px 0px, #fff -1px -1px, #fff 0px -1px, #fff 1px -1px;
}

.last-item {
	    font-size: 18px;
      color: #000000;
  }

.last-item a {
    font-size: 18px;
    color: #000000;
}

.slide6 .holder {
	display: table-cell;
	vertical-align: middle;
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}
.active span.type01,
.active span.type03 {
	-webkit-animation-delay: 600ms; /* Chrome, Safari, Opera */
	    animation-delay: 600ms;
	-webkit-animation-name: bounceInLeft;
	        animation-name: bounceInLeft;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
}
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}
.active span.type02 {
	-webkit-animation-delay: 600ms; /* Chrome, Safari, Opera */
	    animation-delay: 600ms;
	-webkit-animation-name: bounceInRight;
	        animation-name: bounceInRight;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
em {
	display: block;
	position: relative;
	text-shadow: #fff 1px 0px, #fff 1px 1px, #fff 0px 1px, #fff -1px 1px, #fff -1px 0px, #fff -1px -1px, #fff 0px -1px, #fff 1px -1px;
}
.active em {
	-webkit-backface-visibility: visible !important;
	        backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	        animation-name: flipInX;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-delay: 600ms; /* Chrome, Safari, Opera */
	    animation-delay: 600ms;
}
@media only screen and (max-device-width : 768px) and (orientation : portrait) {
	body {
		font-size: 35px;
		line-height: 55px;
	}
	section:nth-child(even) .info {
		top: 40%;
		left: 0;
		width: 100%;
		height: 60%;
		display: table;
		right: auto !important;
		bottom: auto !important;
		text-align: center;
	}
	section:nth-child(odd) .info {
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		display: table;
		right: auto !important;
		bottom: auto !important;
		text-align: center;
	}
	section.slide1 .info,
	section.slide2 .info,
	section.slide5 .info  {
		height: 100%;
		padding-bottom: 40px;
	}
	section.slide5 .info {
		line-height: 46px;
		padding-bottom: 3px;
	}
	.slide2 em {
		vertical-align: bottom;
	}
	em {
		display: table-cell;
		vertical-align: middle;
		padding: 0 10px;
	}
	section.slide6 .info {
		top: 0 !important;
		left: 0 !important;
		margin: 0;
		height: 100% !important;
		width: 100% !important;
		font-size: 22px;
		line-height: 28px;
	}
	section.slide6 .holder {
		vertical-align: middle;
	}
	section.slide6 span {
		display: inline-block;
		vertical-align: top;
		font-size: 28px;
		line-height: 32px;
	}
}
@media only screen and (max-device-width : 768px) and (orientation : landscape) {
	body {
		font-size: 40px;
		line-height: 60px;
	}
	section .info {
		top: 0 !important;
		bottom: auto !important;
		left: 0 !important;
		width: 100%;
		height: 100%;
		display: table;
	}
	em {
		display: table-cell;
		vertical-align: middle;
		padding: 0 10px;
	}
	section.slide5 .info {
		top: auto !important;
		bottom: 40px !important;
	}
	section.slide5 em {
		vertical-align: bottom;
	}
	section.slide6 .info {
		top: 0 !important;
		left: 0 !important;
		margin: 0;
		height: 100% !important;
		width: 100% !important;
		font-size: 18px;
		line-height: 26px;
	}
	.slide6 span {
		display: inline-block;
		vertical-align: top;
		font-size: 22px;
		line-height: 28px;
		padding: 0 10px;
	}
}