@font-face {
  font-family: 'MetaNormalC';
  src: url("../fonts/MetaNormalC.eot");
  src: url("../fonts/MetaNormalC.eot?#iefix") format("embedded-opentype"), url("../fonts/MetaNormalC.woff") format("woff"), url("../fonts/MetaNormalC.ttf") format("truetype"), url("../fonts/MetaNormalC.svg#MetaNormalC") format("svg");
  font-weight: normal;
  font-style: normal; }


