@import "mixin/mixin";
@import "core/reset";

body {
    background-color: #ebf4f8;
    background-repeat: repeat;
}

.content {
    padding: 45px 0;
}

.content__box {
    height: 500px - 26px;
    background-repeat: no-repeat;
    padding-top: 26px;
}

.content__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    margin-bottom: 280px;
}

.content__text {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    text-align: center;
}

